/* Move the sidebars to the edges and extend main content */

/* .article {
  grid-template-columns:
    [screen-start] 0rem
    [page-start] 0rem
    [body-start] 1fr
    [body-end] 400px
    [page-end] 0rem
    [screen-end] !important;
}

@media (max-width: 1023px) {
  .article {
    grid-template-columns:
      [screen-start] 0rem
      [page-start] 0rem
      [body-start] 1fr
      [body-end] 0rem
      [page-end] 0rem
      [screen-end] !important;
  }
}
@media (min-width: 1280px) {
  .article {
    margin-left: 400px;
  }
}

.xl\:col-margin-left {
  left: 0 !important;
  position: fixed !important;
} */

/* Introduction */

#rl-agent> :nth-child(1),
#rl-agent> :nth-child(2) {
  width: 48%;
}

#rl-agent> :nth-child(1) {
  margin-right: auto;
}

#rl-agent> :nth-child(3) {
  flex-basis: 100%;
  text-align: center;
}

#bridge-table * {
  text-align: center;
}

#bridge-table th {
  white-space: nowrap;
}

#bridge-table> :first-child {
  order: 2;
}

#bridge-table> :last-child {
  order: 1;
  max-width: 500px;
}

/* SVGD */

#evolution>img {
  max-width: 400px;
}

/* DENSITY */

#density-evolution>img {
  max-width: 400px;
}

/* OPTIMIZATIONS */

#learn-distribution> :nth-child(1),
#learn-distribution> :nth-child(2) {
  width: 48%;
  margin-top: 0;
}

#learn-distribution> :nth-child(1) {
  margin-right: auto;
}

#learn-distribution> :nth-child(3) {
  flex-basis: 100%;
  text-align: center;
}

#non-smooth-evolution>img,
#non-smooth-evolution-mh>img {
  max-width: 400px;
}

/* RESULTS */

#cifar-sigma-step> :nth-child(1),
#cifar-sigma-step> :nth-child(2) {
  width: 50%;
  margin-top: 0;
}

#cifar-sigma-step> :nth-child(1) {
  margin-right: auto;
}

#cifar-sigma-step> :nth-child(3) {
  flex-basis: 100%;
  /* text-align: center; */
}

#sigma-step-legend>img {
  width: 90%;
}

#cifar-rej>img {
  max-width: 350px
}

#walker> :nth-child(1),
#walker> :nth-child(2) {
  width: 50%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#walker> :nth-child(1) {
  margin-right: auto;
}

#walker> :nth-child(3) {
  flex-basis: 100%;
  text-align: center;
}